/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


:root {

  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);

  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  --padding: 2rem;
  --spacing: .5rem;




  --fb: 700;
  --i: italic;
  --fri: 400;
  --fbi: 800;


}



.flex-group {
  display: flex;
  gap: var(--spacing);



}

.hline {
  width: 100%;
  margin: 1.5em auto;
  border: 1px solid var(--Smokey-grey);
}


body {
  background-color: var(--Off-white);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

}

label {
  font-style: normal;
  font-weight: var(--fri);
  color: var(--Smokey-grey);


}

span {
  color: var(--Purple);

}

.arrow_button {
  background-color: var(--Purple);
  border-radius: 45%;
  border-style: none;
}

.card {

  width: 50%;
  overflow: hidden;
  background-color: var(--White);
  padding: 8rem var(--padding);
  min-width: 300px;
  max-width: 1000px;
  border-radius: 10%;
  border-bottom-right-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.age_input {
  gap: 10px;

}

main {
  width: 80%;



}

.age_data {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 1px solid black;*/
  flex: 1;


}

input:focus {


  border: 1px solid var(--Purple);
  cursor: pointer;




}




.arrow {
  margin-top: 1rem;
  display: flex;
}

.result {
  font-weight: var(--fbi);
  font-style: var(--i);
}

/* 
  color: red;

}.errorClass { */

/* This is the style of our error messages */


.arrow_button:hover {
  background-color: var(--Off-black);

}

.error {
  font-style: var(--i);
  font-weight: var(--fri);
}